name: Release
on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    name: Release Please

    outputs:
      releases_created: ${{ steps.release-please.outputs.releases_created }}
      tag_name: ${{ steps.release-please.outputs[format('{0}--tag_name', steps.get-path.outputs.path)] }}
      path: ${{ steps.get-path.outputs.path }}

    steps:
      - name: Release Please
        uses: googleapis/release-please-action@v4
        id: release-please
        with:
          config-file: .release-please/release-please-config.json
          manifest-file: .release-please/.release-please-manifest.json

      - name: Get Path
        id: get-path
        if: ${{ steps.release-please.outputs.releases_created == 'true' }}
        run: |
          echo "path=${{ fromJson(steps.release-please.outputs.paths_released)[0] }}" >> $GITHUB_OUTPUT

  build:
    runs-on: ubuntu-latest
    name: Build
    needs: release-please
    if: ${{ needs.release-please.outputs.releases_created == 'true' }}

    steps:
      - name: Check Out
        uses: actions/checkout@v4

      - name: Setup Nix
        uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Package
        id: pack
        run: |
          nix develop --ignore-environment --command mcdreforged pack --ignore-patterns __pycache__ -i ${{ needs.release-please.outputs.path }}
          echo "name=$(ls *.mcdr)" >> $GITHUB_OUTPUT

      - name: Upload
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh release upload ${{ needs.release-please.outputs.tag_name }} ${{ steps.pack.outputs.name }}
